@keyframes animateHeart {
     
    0% {
      transform: rotate(-45deg) scale(0.8);
    }
    5% {
      transform: rotate(-45deg) scale(0.9);
    }
    10% {
      transform: rotate(-45deg) scale(0.8);
    }
    15% {
      transform: rotate(-45deg) scale(1);
    }
    50% {
      transform: rotate(-45deg) scale(0.8);
    }
    100% {
      transform: rotate(-45deg) scale(0.8);
    }
  }

.heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    animation: animateHeart 1.2s infinite;
    
  }
  .heart::after {
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart::before {
    content: "";
    background-color: red;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

  body {
      background-color: black;
  }
  @keyframes jump {
    0%   {transform: translate3d(0,0,0) ;}
    40%  {transform: translate3d(0,50%,0) ;}
    100% {transform: translate3d(0,100%,0) ;}
  }
  .love {
    transform-origin: 50% 50%;
    animation: jump 5.5s linear alternate infinite;
  }

  .love {
      color: red;
      font-family: 'Dongle', sans-serif;
      font-size: 120px;
      text-align: center;
      
  }
  
